@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My First Website - Best Recipes!</p>
    <img class="mainImg" src="~/images/cinnamon.jpeg" />
</div>
